@import "variable.less";

#about{
    #about-steam-lab{
        .col-xl-8{
            background-color: @sjc_green_color;
            color: #FFF;
            font-weight: 700;
        }
        .col-xl-4{
            img{
                width: 100%;
            }
        }
    }
    #feature-equipment-1{
        background-color: @grey_bg_color;
        background-image: url("/images/scratch.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        color: #000;
        .col-xl-8{
            padding-right: 0px;
            padding-left: 0px;
        }
        padding-bottom: 0px;
    }
    #feature-equipment-2{
        background-color: #FFF;
        color: #000;
        .col-xl-8{
            padding-right: 0px;
            padding-left: 0px;
        }
        img{
            width: 100%;
        }
    }
    #team{
        background-color: @grey_bg_color;
        color: #000;

        .meet_the_team{
            text-align: center;
            color: @blue_color;
        }
        .team_title{
            text-align: center;
            color: @sjc_green_color;
            margin: 0px;
            padding: 0px;
        }
        .team_position{
            text-align: center;
            color: lavender;
        }
        .rounded-circle{
            overflow: hidden;
            width: 60%;
            padding-bottom: 60%;
            position: relative;
            margin: 0 auto;
        }
        .person-icon{
            position: absolute;
            height:100%;
            width:100%;
        }
    }

}
