@import "variable.less";
@padding: 50px 70px 50px 70px;

#about-steam-lab .col-xl-8{
    background-color: @sjc_green_color;
    padding: @padding;
    color: #FFF;
    font-weight: 700;
}
#feature-equipment-1{
    background-color: @grey_bg_color;
    color: #000;
    .col-xl-4{
        padding: @padding;
    }
}
#feature-equipment-2{
    background-color: #FFF;
    color: #000;
    .col-xl-4{
        padding: @padding;
    }
}
#team{
    padding: @padding;
    background-color: @grey_bg_color;
    color: #000;
    .meet_the_team{
        text-align: center;
        color: @blue_color;
    }
    .team_title{
        text-align: center;
        color: @sjc_green_color;
        font-weight: 900;
        letter-spacing: 0.2rem;
        margin: 0px;
    }
    .team_position{
        text-align: center;
        color: lavender;
    }
    .rounded-circle{
        overflow: hidden;
        padding-bottom: 100%;
        position: relative;
    }
    .small-image{
        position: absolute;
        height:100%;
        width:100%;
    }
}
#main .normal-image{
    max-width: 100%;
}
#main .long-image{
    width: 100%;
}
