@import "variable.less";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body,
html {
    height: 100%;
    position: relative;
}

body {
    background-color: white;
    font-family: 'Noto serif', serif;
}

.btn:focus,
a:focus,
button:focus {
    outline: none;
}

.navbar-white .navbar-toggler {
    cursor: pointer;
}

#main {
    background-color: white;
    min-height: 100%;
}
