@import "variable.less";

#footer {
    background-color: @sjc_green_color;
}
.list-unstyled li a{
    color: white;
    font-size: 8px;
}
.small-header{
    font-size: 12px;
}
.slack-button{
    background: white;
    color: @sjc_green_color;
    padding-left: 30px;
    padding-right: 30px;
}

#white-line{
    width: 90%;
    border-color: white;
    border-width: 3px 10px;
}
