@import "variable.less";

#footer {
    background-color: @sjc_green_color;
    letter-spacing: 0.2rem;
    z-index: -1; //for the above photo to overflow a bit

    //-a .slack-button(@sjc_green_color, "white");
}
.list-unstyled li a{
    color: white;
    font-size: 0.5rem;
}
.small-header{
    font-size: 0.75rem;
}


#white-line{
    width: 90%;
    border-color: white;
    border-width: 3px 10px;
    margin-top: 0;
    margin-bottom: 0;
}
