@import "variable.less";

.allo{
    font-family: @serif-font;
}



.watch-video{
    background-color: @grey_bg_color;
    margin: 3rem 0;
    display: relative;

    .grey-triangles{
        display: absolute;
        top: -2rem;
        left: 2rem;
    }

    .busyness{
        padding: 4rem 2rem;
        text-align: right;
        letter-spacing: 0.1rem;
        font-family: @serif-font;
        font-weight: 400;
        color: @blue_color;

        span{
            font-weight: 1000;
        }

    }
}
