@sjc_green_color: #1B5E1F;

html, body{
  height: 100%;
  position: relative;
}
body {
  background-color: white;
  font-family: 'Noto Serif', serif;
}
a:focus,.btn:focus,button:focus{
  outline: none;
}
.navbar-white .navbar-toggler{
  cursor: pointer;
}
#main {
  background-color: white;
  min-height: 100%;
}
