@sjc_green_color: #1B5E1F;

body,
html {
    height: 100%;
    position: relative;
}

body {
    background-color: white;
    font-family: 'Noto Serif', serif;
}

.btn:focus,
a:focus,
button:focus {
    outline: none;
}

.navbar-white .navbar-toggler {
    cursor: pointer;
}

#main {
    background-color: white;
    min-height: 100%;
}

#footer {
    background-color: @sjc_green_color;
}
.list-unstyled li a{
    color: white;
    font-size: 8px;
}
.small-header{
    font-size: 12px;
}
.slack-button{
    color: white;
    padding-left: 30px;
    padding-right: 30px;

}
.slack-button-content{
    color: @sjc_green_color;
    text-decoration: none;
}
#white-line{
    width: 90%;
    border-color: white;
    border-width: 3px 10px;
}
