@sjc_green_color: #1B5E1F;

.navbar{
    background-color:#FFF;
}
.nav-link{
    color: lavender;
}
.nav-item.active .nav-link{
    color: @sjc_green_color;
}
#html_theNavBar_brand{
    color: @sjc_green_color;
}