extends ../layouts/default.pug
block append variables
    - var currentPage="about";

block body
    .container-fluid
        .row#about-steam-lab
            .col-xl-4.col-lg-4.col-md-5.col-sm-12.col-12
                img(src="images/sjc-badge.jpg" alt="school badge")
            .col-xl-8.col-lg-8.col-md-7.col-sm-12.col-12
                p.title SJC STEAM CLUB
                p.
                    Nulla euismod elementum tortor sed laoreet. Maecenas vel sucipit
                    lacus.
                p.
                    Pellentesque egestas, tellus sed accumsan vulputate,
                    magna nisi vulputate magna, non lacinia nisl sapien nec mauris.
                    Nunc imperdiet nibh ac odio scelerisque laoreet. Sed et ligula sit
                    amet velit consectetur fermentum a feugiat massa. Aliquam ex
                    quam, fringilla ac ligula vitae, semper dapibus risus. Nullam at
                    ipsum sed erat
                    malesuada lacinia ac ut quam. Ut vel laoreet est.
                p.
                    Morbi interdum viverra ipsum.
        .row#feature-equipment-1.grayscale
            .col-xl-4.col-lg-4.col-md-5.col-sm-12.col-12
                p.title FEATURE EQUIPMENT 1
                p.
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
        //-    .col-xl-8.col-lg-8.col-md-7.col-sm-12.col-12
        //-        img(src="images/numbers.jpg" alt="numbers")
        .row#feature-equipment-2
            .col-xl-8.col-lg-8.col-md-7.col-sm-12.col-12
                img(src="images/numbers.jpg" alt="numbers")
            .col-xl-4.col-lg-4.col-md-5.col-sm-12.col-12
                p.title FEATURE EQUIPMENT 2
                p.
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
    .container-fluid#team
        .row.py-5
            .col-12
                p.meet_the_team.title MEET THE TEAM
            .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6
                .rounded-circle
                    img.person-icon(src="images/dude.jpeg" alt="school badge")
                p.team_title TITLE
                p.team_position position
            .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6
                .rounded-circle
                    img.person-icon(src="images/dude.jpeg" alt="school badge")
                p.team_title TITLE
                p.team_position position
            .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6
                .rounded-circle
                    img.person-icon(src="images/dude.jpeg" alt="school badge")
                p.team_title TITLE
                p.team_position position
            .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6
                .rounded-circle
                    img.person-icon(src="images/dude.jpeg" alt="school badge")
                p.team_title TITLE
                p.team_position position
