extends ../layouts/default.pug
block variables
    - var currentPage="about";

block body
  div
    .row#about-steam-lab
      .col-xl-4.col-lg-4.col-md-5.col-sm-12.col-12
        img.normal-image(src="images/sjc-badge.jpg" alt="school badge").mx-auto.d-block
      .col-xl-8.col-lg-8.col-md-7.col-sm-12.col-12
        p.title SJC STEAM Lab
        p.
          Nulla euismod elementum tortor sed laoreet. Maecenas vel sucipit
          lacus.
        p.
          Pellentesque egestas, tellus sed accumsan vulputate,
          magna nisi vulputate magna, non lacinia nisl sapien nec mauris.
          Nunc imperdiet nibh ac odio scelerisque laoreet. Sed et ligula sit
          amet velit consectetur fermentum a feugiat massa. Aliquam ex
          quam, fringilla ac ligula vitae, semper dapibus risus. Nullam at
          ipsum sed erat
          malesuada lacinia ac ut quam. Ut vel laoreet est.
        p.
          Morbi interdum viverra ipsum.
    .row#feature-equipment-1
      .col-xl-4.col-lg-4.col-md-5.col-sm-12.col-12
        p.title FEATURE EQUIPMENT 1
        p.
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
      .col-xl-8.col-lg-8.col-md-7.col-sm-12.col-12
        img.long-image(src="images/numbers.jpg" alt="numbers").mx-auto.d-block
    .row#feature-equipment-2
      .col-xl-8.col-lg-8.col-md-7.col-sm-12.col-12
        img.long-image(src="images/numbers.jpg" alt="numbers").mx-auto.d-block
      .col-xl-4.col-lg-4.col-md-5.col-sm-12.col-12
        p.title FEATURE EQUIPMENT 2
        p.
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
  div#team
    p.meet_the_team.title MEET THE TEAM
    .container
      .row
        .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6
          img.small-image.rounded-circle(src="images/yeoman.png" alt="school badge").mx-auto.d-block
          p.team_title TITLE
          p.team_position position
        .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6
          img.small-image.rounded-circle(src="images/yeoman.png" alt="school badge").mx-auto.d-block
          p.team_title TITLE
          p.team_position position
        .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6
          img.small-image.rounded-circle(src="images/yeoman.png" alt="school badge").mx-auto.d-block
          p.team_title TITLE
          p.team_position position
        .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6
          img.small-image.rounded-circle(src="images/yeoman.png" alt="school badge").mx-auto.d-block
          p.team_title TITLE
          p.team_position position





  