extends ../layouts/default.pug
block append variables
    - var currentPage="contact";

block content
    .row.text-center.grey-background
        .col-12
            p.ask-us-anything ASK US ANYTHING
            form
                .form-group
                    input(type="text", class="form-control", aria-describedby="name", placeholder="NAME")
                .form-group
                    input(type="email", class="form-control", aria-describedby="email", placeholder="EMAIL")
                .form-group
                    input(type="email", class="form-control", aria-describedby="message", placeholder="MESSAGE")
                a(href="#!")
                    div.btn.slack-button SEND   
        
