extends ../layouts/default.pug
block append variables
    - var currentPage="contact";

block content
    form.py-5.grey-background.text-center(action="/action_page.php")
        .row
            .col-12
                p.ask-us-anything ASK US ANYTHING
        .row
            .col-12
                .form-group
                    input.form-control(type="text", aria-describedby="name", placeholder="NAME")
        .row
            .col-12               
                .form-group
                    input.form-control(type="email", aria-describedby="email", placeholder="EMAIL")
        .row
            .col-12                
                .form-group
                    textarea.form-control(aria-describedby="message", placeholder="MESSAGE", rows="7")
        .row
            .col-12    
                a(href="#!")
                    input.btn.slack-button(type="submit", value="SEND")
        
