extends ../layouts/default.pug
block append variables
    - var currentPage="index";
    - var siteTitle = "HomePage Yo"; //- is this declaration put here?

block content
    //- first row
    .row.watch-video
        .col-md-5
            img(src="images/grey-triangles.jpg" alt="grey triangle")
        .col-md-7.busyness
            p Admist the busyness of school life, SJC STEAM Lab provides the space for us to #[span Break the Cycle, Rise Above, Focus on Science]
            a(href="#!") WATCH 
            span.fas.fa-play-circle
    
    //- second row
    .row.clubs
        .col-md-4
            .frame
                img(src="images/grey-triangles.jpg" alt="grey triangle")
                p.title COMPUTER<br>SOCIETY
        .col-md-4
            .frame
                img(src="images/grey-triangles.jpg" alt="grey triangle")
                p.title COMPUTER<br>SOCIETY
        .col-md-4
            .frame
                img(src="images/grey-triangles.jpg" alt="grey triangle")
                p.title COMPUTER<br>SOCIETY
        
    //- third row
    .row.learn-more
        .col-md-7
            ul.list-unstyled
                li 
                    a(href="#!") LEARN MORE
                li 
                    span.fas.fa-file
                    a(href="#!") More about the Lab
                li 
                    span.fas.fa-lock
                    a(href="#!") More about the students in the space
                li 
                    span.fas.fa-folder-open
                    a(href="#!") Current Projects
                li
                    span.fas.fa-wifi
                    a(href="#!") Contact Us
                li 
                    a(href="#!") READ MORE
                
        .col-md-5
            img(src="images/grey-triangles.jpg" alt="grey triangle")
