extends ../layouts/default.pug

block body
  .row.justify-content-center
    .col-6.col-sm-4.col-md-3.pt-5
      img(src='/images/yeoman.png' width='100%')
    .col-12.pt-5
      h1.text-center 'Allo, Thanks for using this template! 
    .col-12.pt-3
      p.text-center
        | Visit the project's
        a(href="https://github.com/andersoo/gulp-pug-es7-less") &nbsp;git&nbsp;
        | for more information.



    
