extends ../layouts/default.pug
block variables
    - var currentPage="projects";

block body
  p.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document. 
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document. 
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document. 
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document. 
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document. 
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.
    Embed FontTo embed your selected fonts into a webpage, copy this code into the of your HTML document.