extends ../layouts/default.pug
block variables
    - var currentPage="projects";

block body
  .row
    .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
      .shadow.p-3.mb-5
      

    .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
    .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12