.container
    footer.page-footer.font-small.blue.pt-4#footer
        .container-fluid.text-center
            .row(style={height:"40px"})
            .row
                .col-3
                .col-3
                    h5.text-uppercase
                        a.text-white(href="#!") JOIN US
                .col-3
                    a(href="#!")
                        div.btn.slack-button SLACK
                .col-3

            .row(style={height:"50px"})
            hr.clearfix.w-100.d-md-none.pb-3
            hr#white-line
            .row
    
                .col-md-2.offset-md-2.col-4.offset-2.mb-md-0.mb-5.mt-8
                    h5.small-header.text-left
                        a.text-white(href="#!") COMPANY
                    
                    ul.list-unstyled.text-left
                        li 
                            a(href="#!") HOME
                        li 
                            a(href="#!") FEATURES
                        li 
                            a(href="#!") STORE
                        li 
                            a(href="#!") DOWNLOAD

                .col-md-2.mb-md-0.col-4.mb-5.mt-8
                    h5.small-header.text-left
                        a.text-white(href="#!") ABOUT

                    ul.list-unstyled.text-left
                        li 
                            a(href="#!") ABOUT US
                        li 
                            a(href="#!") BLOG
                        li 
                            a(href="#!") PRIVACY
                        li 
                            a(href="#!") TERMS OF SERVICE

                .col-md-2.offset-md-0.col-4.offset-2.mb-md-0.mb-5.mt-8
                    h5.small-header.text-left
                        a.text-white(href="#!") HELP

                    ul.list-unstyled.text-left
                        li 
                            a(href="#!") HELP CENTER
                        li 
                            a(href="#!") GET STARTED
                        li 
                            a(href="#!") CONTACT US
                        li 
                            a(href="#!") FAQ

                .col-md-2.mb-md-0.col-4.mb-5.mt-8
                    h5.small-header.text-left
                        a.text-white(href="#!") CONNECT

                    ul.list-unstyled.text-left
                        li 
                            a(href="#!") SOCIAL 1
                        li 
                            a(href="#!") SOCIAL 2
                        li 
                            a(href="#!") SOCIAL 3

            .row(style={height:"30px"})
            
