.container-fluid.bg-white.sticky-top
  .container.bg-white
    .row
      nav.navbar.navbar-toggleable-sm.navbar-inverse.bg-white.col-12.no-gutters.justify-content-between
        button.navbar-toggler.navbar-toggler-right.collapsed(type='button', data-toggle='collapse', data-target='#theNavBar', aria-controls='theNavBar', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
          
        a.navbar-brand(href='#' id="html_theNavBar_brand") SJC STEAM Lab
        #theNavBar.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/' id="html_theNavBar_item0") CONTACT
            li.nav-item
              a.nav-link(href='/about.html' id="html_theNavBar_item1") ABOUT
            li.nav-item
              a.nav-link(href='/' id="html_theNavBar_item2") STUDENTS
            li.nav-item.active
              a.nav-link(href='/index.html' id="html_theNavBar_item3") HOME