.container-fluid.bg-inverse.sticky-top
  .container.bg-inverse
    .row
      nav.navbar.navbar-toggleable-sm.navbar-inverse.bg-inverse.col-12.no-gutters
        button.navbar-toggler.navbar-toggler-right.collapsed(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
          
        a.navbar-brand(href='#') Yo
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='/') Home 
            li.nav-item
              a.nav-link(href='/about.html') About

